header{
    padding-left: 20px;
}

div{
    background-color: #CCCCCC;
    padding: 30px;
}

body > img{
    width: 100%;
}

h2, h3{
    text-align: center;
}

.missao{
    font-size: 20px;
    text-align: center;
}

em strong{
    color: #FF0000;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

ul li{
    font-style: italic;
    
}

div + div{
    background-color: #FFFFFF;
    margin: 20px;
}

.imagemBeneficios{
    width: 50%;
}